@import "src/styles/color";

.awardBox {
  width: 100%;
  height: 100%;

  &__currentAward {
    .lines,
    .box {
      stroke: $princetonOrange1;
    }

    .text {
      fill: $princetonOrange1;
    }
  }
  &__achievedAward {
    .lines,
    .box {
      stroke: $lavenderGray;
    }

    .text {
      fill: $lavenderGray;
    }
  }
  &__untouchableAward {
    color: red;
  }
}
