$princetonOrange1: #ff8b37;
$princetonOrange2: #ffac70;
$princetonOrange3: #e87928;
$princetonOrange5: #fff3eb;
$malachite1: #47d867;
$malachite5: #e6faea;
$fireOpal1: #ec6259;
$fireOpal5: #fdeeed;

$lavenderGray: #d0d0d8;
