$screen-mobile-max-width: 767;
$screen-tablet-min-width: 768;
$screen-tablet-max-width: 1024;
$screen-desktop-min-width: 1025;

@mixin mobile() {
  @media (max-width: $screen-mobile-max-width + 'px') {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $screen-tablet-min-width + 'px') and (max-width: $screen-tablet-max-width + 'px') {
    @content;
  }
}

@mixin mobileAndTablet() {
  @media (max-width: $screen-tablet-max-width + 'px') {
    @content;
  }
}

@mixin tabletAndDesktop() {
  @media (min-width: $screen-tablet-min-width + 'px') {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $screen-desktop-min-width + 'px') {
    @content;
  }
}
